/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
// #8A0651
// #FFFFFF
// #000000
// #424242
// #F2EFE4 оливка
// #CB8C1D коричн
// #4C3327 темный
// #BD3632 красны
@import "compass/reset";

$bgHeader:#444;
// $bgHeader:#111;

$bodybg:#f9f9f9;

// $bgl:#677676; //light
// $bg:#aab7c0; // norm
// $bgd:#677676; //dark

$bgl:#999; //light
$bg:#999; // norm
$bgd:#999; //dark

$textl: #fff; //light
$textd: #3E3E3E; //dark

// $borderl: #EDF4FA;
// $border: #CBD2D8;
// $borderd: #686B6E;

$borderl: #999;
$border: #999;
$borderd: #999;

$danger: #FF7777;
$dangerd:#FF2C2C;

$btnd : #C1BFA9; //dark
$btn: #ecead4;//norm
$btnh: #CDCBB5;//hover


$successl:#A5ED97;
$success:#7EC670;
$successd:#2C902C;


	//GENERAL OPTIONS 
// #=============================================
	body {
		font-size: 16px;
		color: $textd;
		background-color: $bodybg;
		@media (max-width:992px) {
			font-size: 14px;
		}
		@media (max-width:768px) {
			font-size: 12px;
		}
		@media (max-width:500px) {
			font-size: 10px;
		}
	}
	.clearfloat:after, 
	.clearfloat:before {
		content:"";
		display: table;
		clear:both;
	}
	.container {
		width: 100%;
		padding-left: 20px;
		padding-right: 60px;
	}
	a,
	a:hover,
	a:focus {
		color: $textl;
		text-decoration: none;
	}
	button,
	.btn_custom {
		background-color: $btn;
		padding: 2px 5px;
		border-radius: 2px;
		border: 1px solid $border;
		-webkit-transition: 0.2s;
		transition:0.2s;
		&:hover {
			background-color: $btnh;
			box-shadow: 1px 1px 3px $border, -1px -1px 3px $border; 
		}
	}
	input,
	button {
		&:focus {
			outline: none;
		}
	}
	input {
		padding: 3px 4px;
		margin: 5px;
		border-radius: 3px;
		border: 1px solid $border;
		&:hover,
		&:focus {
			box-shadow: inset 1px 1px 5px $border, inset -1px -1px 5px $border;
		}
	}
	.section_wrap {
		padding: 0 60px 0 80px;
	}
	.unselectable {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.message_box {
		width: 100%;
		padding: 0;
		margin: 0;
		border: none;
		background-color: transparent;
		color:$dangerd;
		font-size: 0.8em;
		text-align: center;
		&:hover {
			box-shadow: none;
		}
	}
	form {
		padding: 5px;
		border-radius: 3px;
		border: 1px solid $border;
		background-color: #fff;
	}
	table {
		thead,
		tbody {
			tr { td { vertical-align: middle!important }	}
		}
	}
	.pop_up_text {
		position: fixed;
		top: -200%;
		left: 50%;
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
		padding: 15px;
		background-color: #fff;
		color:$danger;
		border: 1px solid red;
		text-align: center;
		font-weight: bold;
		z-index:50000;
		opacity: 0;

	}
	
// #=============================================
	//GENERAL OPTIONS 



	//web assistant
// #=============================================
	.web-assistant {
		display: none;
		position: fixed;
		bottom: -10px;
		right: -10px;
		z-index: 35000;
		>div {position: relative;}
	}
	.assistant_img {
		width: auto;
		height: 120px;
		-webkit-transition: 0.5s;
		transition:0.5s;
		opacity: 0;
	}
	.assistant_message {
		position: absolute;
		bottom: 90%;
		right: 90%;
		width: 180px;
		height: 90px;
		padding: 10px;

		border: 1px solid $border;
		background-color:	$bgd;
		color: $textl;
		-webkit-transition: 0.5s;
		transition:0.5s;
		text-align: center;
		vertical-align: middle;
		font-size: 0.9em;
		z-index:2;
		opacity: 0;
		&:after {
			position: absolute;
			bottom: -30px;
			right: 10px;
			content: "";
			display: block;
			border: 20px solid transparent;
			border-top: 20px solid $bgd;
			border-right: 20px solid $bgd;
			z-index:1;
		}
	}
	.assistant_active {
		opacity: 1;
		z-index: 35000;
	}
// #=============================================
		//web assistant
	
//hamburger
// .hamburger {
// 	padding: 0;
// 	margin-top: 7px;
// 	margin-left: 40px;
// 	display: none;
// 	float: left;
// 	@media (max-width:1200px) {
// 		display: block;
// 	}
// }
// .hamburger-inner, 
// .hamburger-inner:after, 
// .hamburger-inner:before {
// 	background-color:  #fff;
// }
//bg spinner
	#main_bg_spinner,
	#bg_spinner {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 30000;
		background-color: rgba(255,255,255,.9);
		.socket_message,
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform:translate(-50%,-50%);
			transform:translate(-50%,-50%);
			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform:translate(-50%,-50%);
				transform:translate(-50%,-50%);
			}
		}
		.socket_message {
			border: 1px solid $border;
			font-size: 1.2em;
			line-height: 1.7em;
			text-align: center;
			font-style: italic;
		}
		i {
			color: rgba(0,0,0,.7);
			font-size: 5em!important;
		}
	}
	#main_bg_spinner {
		background-color: rgba(255,255,255,1);
		z-index: 30001;
	}




//preloader	
#preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index:10000;
	i {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
		color: $bgd;
	}
}

//description for controller
	#btn_descriptionController {
		position: fixed;
		bottom: 25px;
		left: 5px;
		background-color: rgba(0,0,0,.8);
		-webkit-transition: 0.3s;
		transition: 0.3s;
		color: #ccc;
		z-index:10000;	
		&:hover {
			background-color: rgba(124,124,124,.8);
			color: #000;
		}
	}
	.btn_descripCtrl_active {
		-webkit-transform : translate(20px, -20px) scale(1.3,1.3);
		transform : translate(20px, -20px) scale(1.3,1.3)
	}
	.ctrl_descr {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height:  25%;
		padding: 15px 35px;
		background-color: rgba(20,20,20,1);
		border: 1px solid $border;
		z-index:5000;
		-webkit-transition: 0.3s;
		transition : 0.3s;
		overflow:auto;
		color: #ccc;
		button {
			position: absolute;
			right: 3px;
			top: 0;
			margin: 10px;
			color: #888;
			background-color: $dangerd;
			i:before {
				color: #fff;
			}
		}
	}
	.ng-hide-add, .ng-hide-remove { display: block !important }
	.ctrl_descr.ng-hide { height:0 }

	//header BEGIN
// #================================================
	header {
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: $bgHeader;
		position: relative;
		.header_wrap {
			padding: 0 60px 0 80px;
		}
	}
	#logo {
		margin-top: 3px;
		float: left;
		a {
			display: block;
			font-size: 2em;
			color: #fff;
			text-transform: uppercase;
		}
	}
	nav {
		float: left;
		margin-left: 50px;
		margin-top: 8px;
		ul {
			li {
				float: left;
				padding: 0 10px;
				a {
					color: $textl;
					-webkit-transition: 0.3s;
					transition: 0.3s;
					display: block;
					font-size: 1.2em;
					text-align: center;
					border-bottom: 2px solid transparent;
					&:hover {
						color: $textl;
						border-bottom: 2px solid $textl;
					}				
				}
				&:last-child {
					font-size: 1em;
					margin-left: 15px;
				}
			}
		}
		// @media (max-width:1200px) {
		// 	display: -webkit-box;
		// 	display: -ms-flexbox;
		// 	display: flex;
		// 	-webkit-box-orient: horizontal;
		// 	-webkit-box-direction: normal;
		// 	-ms-flex-direction: row ;
		// 	flex-direction: row ;
		// 	-webkit-box-align: center;
		// 	-ms-flex-align: center;
		// 	align-items: center;
		// 	position: fixed;
		// 	height: 100%;
		// 	right: 0;
		// 	top: 0;
		// 	margin: 0;
		// 	background-color: rgba(0,0,0,.5);
		// 	z-index: 10000;
		// 	border: 1px solid $border;
		// 	ul {
		// 		li {
		// 			float: none;
		// 			margin: 0!important;
		// 			padding: 0;
		// 			a {
		// 				display: block;
		// 				padding: 5px 15px;
		// 				color: #fff!important;
		// 				border-top: 1px solid #fff;
		// 				background-color: #000;
		// 			}
		// 		}
		// 	}
		// }
	}
	#admin_link a {
		color: $danger;
	}
	// #mean_info a {
	// 	color: $success;
	// }
	.nav_active {
		color: $textl;
		border-bottom: 2px solid $textl;
	}
	#autentif_wrap {
		float: right;
		margin-right: 10px;
		text-align: center;
	}
	#log_in,
	#avatar_img_wrap,
	#basket,
	#log_out {
		float: left;
	}
	#log_in {
		margin-top: 7px;
		span {
			@media (max-width:768px) {
				display: none
				;
			}
		}
	}
	#user_product_basket {
		opacity: 1;
		margin-right: 20px;
		position: absolute;
		top: 100%;
		right: 0;
		background-color: #fff;
		z-index:100;
		padding: 3px;
		border: 1px solid $border;
		thead {
			td {
				padding: 2px;
				text-align: center;
			}
			background-color: #ccc;
		}
		tbody {
			.summ_result {
				td {
					text-align: center;
					font-weight: bold;
				}
			}
			td {
				padding: 3px;
				text-align: center;
				button {
					background-color: transparent;
					border: none;
					i {
						font-weight: bold;
						-webkit-transition: 0.3s;
						transition: 0.3s;	
					}
					&:hover {
						background-color: transparent;
						border: none;
						box-shadow: none;
						i {
							-webkit-transform:scale(1.5,1.5);
							transform:scale(1.5,1.5);
						}
					}
				}
			}
		}
	}
	#user_product_basket.ng-hide-add, 
	#user_product_basket.ng-hide-remove { -webkit-transition: all linear 0.5s; transition: all linear 0.5s }
	#user_product_basket.ng-hide { opacity: 0 }
	.user_basket_active {
		background-color: $btnd;
		color: #fff;
	}
	#avatar_img_wrap {
		width: 40px;
		height: 40px;
		margin-right: 15px;
		img {
			height: 100%;
			width: auto;
			max-height: 40px;
			max-width: 40px;
			outline:1px solid #fff;
		}	
		@media (max-width:1200px) {display: none}
	}
	#basket{
		margin-top: 7px;
		margin-right: 15px;
	}
	#log_out { margin-top: 7px }
	#login_main {
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform:translate(-50%, -50%);
		transform:translate(-50%, -50%);
		z-index:1000;
		// box-shadow: 0px 0px 300px 200px rgba(0,0,0,1);
		background-color: #fff;
		padding: 20px;
		height: 430px;
		width: 500px;
		border: 1px solid $bg;
		>ul {
			li {
				position: relative;
				top: 1px;
				margin-right: 5px;
				padding: 5px 10px;
				float: left;
				cursor: pointer;
				border: 1px solid transparent;
				border-bottom:  1px solid $bg; 
				font-size: 1.8em;
				background-color: #fff;
				span { opacity: 0.5 }
			}
		}
		form {
			padding: 30px 20px;
			border: 1px solid $bg;
			border-radius: 0;
			background-color: #fff;
			input {
				width: 200px;
				&:focus { border-color : $border }
			}
		}
		.btn_close_login {
			position: absolute;
			top: 5px;
			right: 5px;
			padding: 4px;
			font-size: 2em;
		}
	}
	#login_main.ng-hide-add, 
	#login_main.ng-hide-remove { -webkit-transition: 0.2s; transition: 0.2s }
	#login_main.ng-hide { opacity: 0	}
	.tab_login_active {
		border: 1px solid $bg!important;
		border-bottom:  1px solid #fff!important;
		span { opacity: 1!important }
	}
	#login_form {
		input,
		button {	margin: 10px auto	}
		input[type="checkbox"] { width: auto }
		button {
			padding: 5px 10px;
			font-size: 1.3em;
		}

	}
	#registr_form {
		label {
			margin-bottom: 20px;
			position: relative;
			input { margin: 0 }
			input.ng-invalid { box-shadow: inset -2px 0 0 $danger }
			input.ng-valid { box-shadow: inset -2px 0 0 $success }
			>span {
				position: absolute;
				bottom: 100%;
				left: 0;
			}
		}
		input[type=submit] {
			@extend .btn_custom;
			padding: 10px;
			font-size: 1.2em;
			&:hover {
				background-color: $btn;
				box-shadow: none;  
			}
		}
	}
	#select_avatar {
		text-align: center;
		.img_wrap {
			border: 1px solid $border;
			overflow: hidden;
			height: 197px;
			text-align: center;
			position: relative;
			line-height: 197px;
			div {
				display: inline;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform:translate(-50%, -50%);
				transform:translate(-50%, -50%);
				cursor: pointer;
				i {
					-webkit-transition: 0.3s;
					transition:0.3s;
					font-size: 2em;
					color: rgba(0,0,0,.2)
				}
				&:hover {
					i { color: rgba(0,0,0,.6) }		
				}	
			}
			img {
				width:auto;
				max-width: 100%;
				height: auto;
				max-height: 197px;
				vertical-align: middle;
			}
		}	
	}

// #================================================	
	//header END



//main_content 
	#choice_wrap {position: relative;}
//main_content 



	//PRODUCTS NAVIGATION (LAPTOP TABLET) BEGIN
// #================================================
	#select_product {
		margin-left: 60px;
		margin-top: 10px;
		>li {
			float: left;
			width: 20%;
			text-align: center;			
			&:not(:last-child) {border-right: none}
			a {
				display: block;
				padding: 10px 0;
				border: 1px solid $bodybg;
				-webkit-transition: 0.2s;
				transition:0.2s;
				text-transform: uppercase;
				color: $textd;
				>img {
					width: auto;
					height: 50px;
				}
				i { font-size: 1.2em }
				&:hover {
					background-color: $bgl;
					color: $textl;
				}
			}
		}
		.current_products {
			position: relative;
			background-color: $bgl;
			opacity: 1!important;
			color: #fff;
			span {
				border-right: 1px solid transparent!important;
			}
			&:before {
				position: absolute;
				top: 100%;
				left: 50%;
				-webkit-transform:translateX(-50%);
				transform:translateX(-50%);
				content: '';
				display: block;
				border: 20px solid transparent;	
				border-top: 20px solid  $bgl;
			}
		}
	}

// #================================================
	//PRODUCTS NAVIGATION (LAPTOP TABLET) END



	//PRODUCTS left vertical bar BEGIN
// #================================================
	#select_bar {
		position: relative;
		margin-top: 20px;
		>ul  {
			position: fixed;
			top: 50%;
			left: 20px;
			-webkit-transform:translateY(-50%);
			transform:translateY(-50%);
			width: 60px;
			z-index:2;
			a {
				position: relative;
				display: block;
				width: 40px;
				height: 40px;
				border: 1px solid $bodybg;
				font-size: 1.6em;
				text-align: center;
				line-height: 40px;
				-webkit-transition: 0.2s;
				transition:0.2s;
				color: $textd;
				i { z-index:2 }
				&:before {
					position: absolute;
					top: -1px;
					left: 100%;
					-webkit-transform-origin: left;
					transform-origin: left;
					transform:rotateY(90deg);
					-webkit-transform:rotateY(90deg);
					content: '';
					display: block;
					border: 20px solid transparent;
					border-left: 20px solid  $bgl;
				}
				&:hover {
					background-color: $bgl;
					i { color: $textl	}
					&:before { border-left: 20px solid $bgl }
				}
			}
			li:not(:last-child) a { border-bottom: none }
		}
	}
	#bar_compare {
		span {
			position: absolute;
			top: 0;
			right: -14px;
			color: $bgd;
			font-size: 0.7em;
			-webkit-transition: 0.7s;
			transition : 0.7s;
		}
	}
	.animate_number_compare {
		transform: scale(3,3)!important;
		-webkit-transform: scale(3,3)!important;
		font-weight: bold!important;
		color: $dangerd!important;
	}
	.bar_item_active {
		background-color:  $bgl;
		opacity: 1!important;
		i { color: $textl	}
		&:before {
			transform:rotateY(0deg)!important;
			-webkit-transform:rotateY(0deg)!important;
		}
	}
	.bar_page_wrap {
		overflow: hidden;
		min-height: 165px;
		margin-left: 60px;
		border: 3px solid $bgl;
		border-bottom: none;
	}
// #================================================
	//PRODUCTS left vertical bar END
	



	// MAIN LIST PRODUCTS BEGIN
// #================================================
	#list_wrap {
		padding: 20px;
		margin-left: 60px;
		border: 3px solid $bgl;
		border-top:none;
		.col_custom {
			padding-right: 5px;
			padding-left: 5px;
		}
		.pagination_wrap {
			margin-top: 40px;
			margin-bottom: 30px;
		}
	}
	.products_item {
		position: relative;
		margin-top: 10px;
		padding: 5px;
		border: 1px solid $border;
		-webkit-transition: 0.3s;
		transition:0.3s;
		.sale {
			position: absolute;
			top: 7px;
			left: 7px;
			padding: 3px;
			border-radius: 2px;
			background-color: $danger;
			color: #fff;
			cursor: pointer;
			-webkit-transition: 0.3s;
			transition:0.3s;
		}
		i{color: $textd}
		.star_reiting_wrap {
			position: relative;
			display: inline-block; 
			star-reiting {
				display: inline-block;
			}
			span {
				position: absolute;
				right: -35%;
				top: -3%;
				font-size: 1.3em;
				font-weight: bold;
			}
			i {font-size: 1.2em}
		}
		.colours_wrap {
			position: absolute;
			top: 3px;
			right: 3px;
			opacity: 0;
			-webkit-transition:0.2s;
			transition:0.2s;
			li {
				margin-top: 5px;
				width: 25px;
				height: 25px;
				border: 1px solid $border;
				box-shadow: inset 1px 1px 0 #fff,  inset -1px -1px 0 #fff;
			}
		}
		.img_wrap {
			margin: 15px;
			text-align: center;
			img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height : 130px;
				-webkit-transition: 0.3s;
				transition:0.3s;
				@media (max-width:768px) {
					max-height : 100px;
				};
			}
		}
		h2 {
			margin: 15px 0 5px;
			font-size: 1.1em;
			text-align: center;
			font-weight: bold;
			span { text-transform: uppercase }
		}
		.description {
			.star_comment_wrap { float: left }
			>span {
				display: block;
				float: right;
				margin-top: 5px;
				font-size: 1.5em;
				font-weight: bold;
			}
		}
		.btn_wrap {
			margin-top: 10px;
			.btn_basket {
				position: relative;
				float: right;
				padding: 7px 5px;
				font-size: 1.2em;
				i {font-size: 1.2em}
			}
			.btn_compare, 
			.btn_info {
				position: relative;
				width: 40px;
				height: 40px;
				margin: 0;
				padding: 0;
				i {font-size: 1.5em}
			}
			.btn_compare,
			.btn_basket {
				i.fa-check-circle-o,
				i.fa-check { display: none }
			}
			.btn_checked.btn_basket {
				i.fa-check-circle-o {
					position: absolute;
					top: 50%;
					right: 2px;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					display: block;
					color: $successd;
					font-size: 1.8em;
				}
				i.fa-shopping-basket { opacity:0 }
			}
			.btn_compare.btn_checked {
				i.fa-check {
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
					display: block;
					color: $successd;
					font-size: 2em;
				}
				i.fa-balance-scale { opacity:0.2 }
			} 
		}
		&:hover {
			.colours_wrap { opacity: 1 }
			img {
				-webkit-transform:scale(1.05,1.05);
				transform:scale(1.05,1.05);
			}
			popup-img {
				i.fa-search-plus { opacity:1 }
			}
		}	
	}

// #================================================	
	// MAIN LIST PRODUCTS END

// client, admin search
	.search_item {
		position: relative;
		margin: 25px 10px;
		padding: 10px;
		border: 1px solid $border;
		>span {
			position: absolute;
			top: -10px;
			left: 10px;
			padding: 0 3px;
			border: 1px solid $borderd;
			background-color: #fff;
		}
	}

	//PRODUCTS SEARCH BEGIN
// #=========================================================	
	#search_wrapper {
		.search_item {
			position: relative;
			margin-top: 40px;
			padding: 10px;
			padding-top: 25px;
			border: 1px solid $borderd;
			border-radius: 3px;
			>span {
				position: absolute;
				top: -20px;
				left: 10px;
				padding: 0 3px;
				border: 1px solid $borderd;
				border-radius: 3px;
				color: $textl;
				font-size: 1.5em;
				background-color: $border;
			}
		}
		.slider_wrap {
			padding-bottom: 0;
			.slider_item {
				position: relative;
				margin-bottom: 30px;
				padding: 0 5px;
				border: 1px solid $borderd;
				font-size: 1em;
				background-color: #fff;
				>span {
					display: block;
					padding: 5px;
					text-align: center;
					background-color: #fff;
					font-weight: bold;
				}
			}
			rzslider {
				.rz-pointer {
					top: -8px;
					height: 19px;
					border-radius: 3px;
					background-color: $btnd;
					&:after { display: none }
					&:hover { background-color: $btnh }
				}
				.rz-bar { background: $btn }
				.rz-bar.rz-selection { background: $btnd }
			}
		}
	}
	.checkbox_custom {
		margin-top: 10px;
		margin-right: 10px;
		padding: 3px;
		border: 1px solid $border;
		border-radius: 2px;
		background-color: #fff;
		cursor: pointer;
		span,
		i {
			opacity: 1;
			-webkit-transition: 0.3s;
			transition: 0.3s;
		}
		i {
			display: inline-block;
			border: 1px solid $border;
		}
		span{
			display: inline;
			text-transform: uppercase;
		}
		input { display: none }
		&:hover {
			span,
			i { opacity: 0.7 }
		}
	}
	#toggleAllBrands {
		background-color: $btn!important;
		.fa-check { background-color: #fff!important }
	}
	.check_hide {
		&:before { opacity: 0 }
	}
	#filters_wrap {
		margin: 10px;
		font-size: 1.2em;
		span,
		button {
			position: relative;
			margin-right: 20px;
			opacity: 0.7;
			background-color: #fff;
			i {
				font-size: 1.3em;
				-webkit-transition: 0.3s;
				transition: 0.3s;
			}
		}
	}
	.toggleOrderByParams {
		-webkit-transform:rotate(-180deg);
		transform:rotate(-180deg);
	}
	.orderBy_active {
		opacity: 1!important;
		background-color: $btnd!important;
	}
// #=========================================================
	//PRODUCTS SEARCH END
		



	// PRODUCTS INFO BEGIN
// #=========================================================
	#product_info_wrap {
		padding: 15px;
		.star_reiting_wrap {
			text-align: center;
			star-reiting {
				display: inline-block;
				margin-bottom: 10px;
				font-size: 1.5em;
			}
		}
		>h2 {
			margin-bottom: 20px;
			margin-top: 20px;
			text-align: center;
			font-size: 2em;
			text-transform: uppercase;
		}
	}
	#info_carousel {
		height: 350px;
		overflow: hidden;
		>li {
			height: 100%;
			.layer {	height: 100%}
			.img_wrap {
				height: 100%;
				padding: 30px;
				text-align: center;
				img {
					width: auto;
					height: 100%;
					max-height: 300px;
				}
			}
		}
		@media (max-width:768px) { height: 300px };
		@media (max-width:500px) { height: 250px };
	}
	.info_bar {
		li {
			float: left;
			a {
				opacity: 0.5;
				display: block;
				padding: 5px 10px;
				border: 1px solid transparent;
				border-bottom: none;
				color: $textd;
				font-size: 1.2em;
				background-color: $bodybg;
			}
		}
	}
	.info_active {
		opacity: 1!important;
		z-index:1!important;
		border: 1px solid $border!important;
		border-bottom: none!important;
		box-shadow: 0 1px 0 #fff!important;
		background-color: #fff!important;
	}
	#info_view {
		padding: 15px;
		border: 1px solid $border;
		background-color: #fff;
	}
	#info_property_wrap {
		table {
			width: 100%;
			padding: 10px;
			tr {
				td:first-child {
					font-weight: bold;
					text-align: center; 
				}
			}
			td {
				padding: 3px 5px;
				border: 1px solid $border;
				text-align: center;
			}
		}
	}
	#colours_wrap {
		text-align: center;
		>div {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin: 2px 5px;
			border: 1px solid $borderd;
		}
	}
	#info_sale_wrap {
		p {
			margin: 20px 0;
			&:first-child {
				font-size: 1.4em;
				color: $danger;
				span { font-weight: bold }
			}
			&:last-child {
				margin: 20px 0;
				font-size: 1.2em;
				span { font-weight: bold }	
			}
		}
	}
	#info_comments_wrap {
		margin-top: 20px;
		margin-bottom: 7px;
		>h3 {
			margin-bottom: 10px;
			text-align: left;
			font-weight: bold;
			font-size: 1.2em;
		}	
	}
	#add_comment {
		position: relative;
		textarea {
			width: 100%;
			padding: 15px;
			&:focus { outline:none }
		}
		>span {
			position: absolute;
			top: 2px;
			left: 2px;
			color: $danger;
			font-weight: bold;
		}
		button {
			margin: 15px;
			padding: 10px;
			font-size: 1.2em;
		}
	}
	.comments_item {
		padding: 3px;
		margin: 3px 0;
		border: 1px solid $border;
		background-color: #fff;
		.date {
			padding: 0 5px;
			opacity: 0.7;
			font-style: italic;
			font-weight: bold;
		}
		.comment {
			margin: 5px 0;
			.user_name {
				padding: 3px;
				text-transform: uppercase;
				font-size: 1.1em;
				font-weight: bold;
			}
		}
	}

// #=========================================================
	// PRODUCTS INFO END





	
	// PRODUCTS COMPARE BEGIN
// #=========================================================
	#compare_wrapper {
		padding: 15px;
		table {
			width: 100%;
			.brand,
			.model {
				td{
					text-transform: uppercase;
					text-align: center;
					font-size: 1.1em;
					font-weight: bold;	
				}
			}
			.img_wrap { text-align: center }
			td {
				padding: 3px 10px;
				border: 1px solid $border;
				&:first-child { font-weight: bold }
				&:not(:first-child) { text-align: center }
				.btn_compare_bottom {
					width: 25px;
					padding: 3px;
					i { font-size: 1em }
				}
			}
			td.btnSort_wrap {
				@extend .clearfloat;
				button {
					float: right;
					width: 20px;
					height: 20px;
					margin: 0 10px; 
					padding: 0;
					border: none;
					background-color: transparent;
					opacity: 0.5;					
					i { font-size: 1.4em }
					&:hover {
						opacity: 1;
						background-color: transparent;
						box-shadow: none;
					}
					&:first-child { right: 5px }
					&:last-child { right: 44px }
				}
			}
			img {
				width: auto;
				height: 100%;
				max-height: 50px;
				@media (max-width:992px) { display: none }
			}
		}
	}
	.max_value { color: $success }
	.min_value { color: $danger }
	.checked_btn_basket_compare { color: $successd!important }
// #=========================================================
	// PRODUCTS COMPARE END






	//pagination BEGIN
//#=====================================
	.pagination_wrap { text-align: center }
	.custom_pagination {
		text-align: center;
		a {
			display: inline-block;
			margin: 0 2px;
			font-size: 1em;
			color: $textd;
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8) {
				width: 27px;
				border: 1px solid $border;
				cursor:pointer;
			}
			&:nth-child(3),
			&:nth-child(9) { pointer-events: none }
			&:first-child,
			&:last-child {
				width: 27px;
				text-decoration: underline;
				cursor:pointer;
			}
			&:nth-child(2),
			&:nth-child(10) {
				cursor:pointer;
				i{ font-weight: bold }
			}
		}
	}
	.current_pag {
		background-color: $bgl;
		color: #fff!important;
	}
	.disabled_pag {
		opacity: 0;
		cursor:none;
		pointer-events: none;
	}
	.disabled_pag_ { width: 1px }
//#=====================================
	//pagination END

//sale

#goods_sale {
	position: relative;
	margin: 10px 50px;
	.rn-carousel-control {
		opacity: 0.2!important;
		font-size: 4em!important;
		&:hover { opacity:0.7!important }
	}
	.rn-carousel-control-prev  { left: -3%!important }
	.rn-carousel-control-next { right: -3%!important	}	
}

#main_sale_carousel {
	height: 350px;
	li {
		height: 100%;
		.layer {
			height: 100%;
			>div{	height: 100% }
		}
		.img_wrap {
			height: 100%;
			padding: 30px;
			text-align: center;
			img {
				width: auto;
				height: 100%;
				max-height: 350px;
			}
		}
		.descript_sale {
			padding: 25px;
			text-align: center;
			h2 {
				font-size: 1.7em;
				text-align: center;
				margin: 25px 0;
				font-weight: bold;
				text-transform: uppercase;
				@media (max-width:1200px) { margin: 10px 0 }
			}
			h3 {
				margin: 15px 0;
				font-size: 1.5em;
				color: $danger;
				span {
					color:$dangerd;
					font-weight: bold;
				}
				@media (max-width:1200px) { margin: 7px 0 }
			}
			p {
				margin: 10px 0;
				font-size: 1.3em;
				span {
					font-weight: bold;
					text-decoration: underline;
				}
				@media (max-width:1200px) { margin: 5px 0	}
			}
			button {
				padding: 10px;
				font-size: 1.2em;
			}
			@media (max-width:1200px) { padding: 10px }
		}
	} 
	@media (max-width:1200px) { height: 250px }
	@media (max-width:992px) { height: 200px }
	@media (max-width:768px) { height: 150px }
	@media (max-width:500px) { height: 100px }
	@media (max-width:400px) { height: 70px }
}

	//starReiting BEGIN
//#=====================================
	.starReiting {
		li {
			float: left;
			a {
				i { color: $danger }
			}
		}
	}
	.raiting_prev_session {
		color: $success;
		font-weight: bold;
	}
	.fa_star_hover {
		color: $dangerd!important;
		&:before { content: "\f005" }
	}
	.fa_star_click {
		-webkit-transform:scale(1.1,1.1);
		transform:scale(1.1,1.1);
		color: $dangerd!important;
		&:before { content: "\f005" }
	}
//#=====================================	
	//starReiting END



	//popupImg BEGIN
//#=====================================
	popup-img {
		i.fa-search-plus { opacity : 0 }
	}
	.toggle_small_img {
		-webkit-transform: scale(1.025,1.025);
		transform: scale(1.05,1.05);
		-webkit-transition: 0.1s;
		transition: 0.1s;
	}
	.popup_img_link {
		position: absolute;
		top: 30%;
		left: 50%;
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
		cursor: pointer;
		i {
			-webkit-transition:0.1s;
			transition:0.1s;
			color: rgba(255,255,255, .7);
			font-size: 2em;
		}
		&:hover {
			i{
				font-size: 2.5em;
				color: rgba(255,255,255, 1);
			}
		}
	}
	.popup_img {
		position: fixed;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		overflow: hidden;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, .9);
		z-index:30000;
		a { display: none	}
	}
	.btn_close {
		position: absolute;
		top: 30px;
		right: 30px;
		padding: 5px;
		border-radius: 20%;
		font-size: 2.5em;
		background-color: #fff;
		cursor: pointer;
		color: $textl;
		background-color: rgba(255,255,255,1);
		z-index:30001;
	}
	.popup_inner_wrap {
		position: absolute;
		top: 40px;
		bottom: 40px;
		left: 40px;
		right: 40px;
		.popup_inner_img {
			display: block;
			margin: 0 auto;
			width : auto!important;
			height: 100%!important;
			max-height: 100%!important;
		}
	} 
	
//#=====================================
	//popupImg END



	//ADMIN MAIN begin	
//#=====================================
	#admin_wrap {
		padding-left: 60px;
		ul.nav-tabs {
			margin-top: 15px;
			li {
				display: block;
				float: left;
				width: 33.333%;
				a {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1.2em;
					color: $bgd;
				}
			}	
		}
	}
	#admin_view {
		padding: 40px 15px 20px 15px;	
		border: 1px solid #ddd;
		border-top: none;
		background-color: #fff;
	}	
	.items_group {
		position: relative;
		padding: 15px;
		border: 1px solid $border;
		>span {
			position: absolute;
			left: 20px;
			top: -20px;
			padding: 5px;
			border: 1px solid $borderd;
			border-radius: 4px;
			background-color: $bodybg;
			font-size: 1.1em;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

//#=====================================
	//ADMIN MAIN end



	//ADMIN PRODUCT begin	
//#====================================================================
	#work_buttons_admin_product {
		margin-bottom: 30px;
		text-align: center;
		>p {
			margin-bottom: 5px;
			span {
				font-weight: bold;
				color: $dangerd;
			}
		}
		button { margin-left: 25px }
		input {
			margin: 0;
			padding: 7px 12px;
			border: 1px solid $success;
			font-weight: bold;
			text-align: center;
			color: $success;
		}
	}
	#admin_product {
		p {
			text-align: center;
			font-size: 1.1em;
		}
		.items_group {
			.selectDb {
				float: left;
				width: 120px;
				margin: 5px;
				padding: 5px;
				border: 1px solid $border;
				cursor: pointer;
				-webkit-transition: 0.35s;
				transition: 0.35s;
				text-align: center;
				img {
					max-height: 70px;
					width: auto;
				}
				label { cursor: pointer }
				input {
					width: 0;
					height: 0;
				}
				span {
					text-align: center;
					display: block;
				}
				i {
					color: $successd;
					font-size: 1.5em;
				}
				&:hover {
					background-color: $border;
					i, 
					span {color: #fff}
				}
			}
		}
	}

	#admin_product_menu,
	.admin_analitika_menu {
		margin-top: 40px;
		li {
			float: left;
			padding: 10px 10px 5px;
			border: 1px solid transparent;
			background-color: #fff;
			font-weight: bold;
			cursor: pointer;
			z-index:1;
			span {opacity: 0.5}
		}
	}
	.admin_product_menu_active,
	.admin_analitika_menu_active {
		border: 1px solid $border!important;
		border-bottom:  1px solid transparent!important;
		box-shadow: 0 1px 0 #fff;
		span {opacity: 1!important}
	}
	#admin_product_view {
		padding: 10px;
		border: 1px solid $border;
	}
	//admin search ===================================================
	#admin_product_search {
		.input_wrapper {
			padding: 10px;
			.input_item {
				float: left;
				position: relative;
				width: 20%;
				padding: 0 5px;
				input {
					padding-left: 35px;
					border-radius: 4px;
					font-size: 1em;
				}
				.fa-check,
				.fa-search {
					position: absolute;
					top: 10px;
					left: 18px;
					font-size: 1.4em;
					&:before { color: #fff }
				}
				.fa-search {
					&:before { color: #337ab7 }
				}
				button {
					position: relative;
					width: 100%;
					height: 34px;
					margin: 5px;
				}
			}
		}
		.pagination_wrap {
			margin-top: 15px;
			margin-bottom: 15px;
		}
		table {
			thead {
				td {
					text-transform: uppercase;
					font-weight: bold;
				}
			}
			td { text-align: center }
			thead { background-color: #ccc }
		}		
	}
	.hide_pagination {
		opacity: 0!important;
		a {
			pointer-events: none!important;
			cursor: default!important; 
		}
	}
	//admin add new product (haracteristics sale colors images)==============================
	#admin_product_addNew {
		>p {
			text-align: center;
			margin: 10px auto;
		}
		button.btn-success {
			margin-top: 25px;
		}
	}

	.add_prod_item {
		position: relative;
		margin-top: 50px;
		padding: 40px 10px;
		border: 2px solid $border;
		>h2 {
			position: absolute;
			top: -15px;
			left: 20px;
			padding: 3px 5px;
			border-radius: 3px;
			color: $textl;
			border: 1px solid $borderd;
			background-color: $border;
			font-size: 1.1em!important;
			text-transform: uppercase;
		}
	}
	//haracteristics
	#admin_add_options {
		button  { margin-bottom:  20px }
		.form-group {
			label { 
				padding-left: 7px;
				color: rgba(0,0,0,.7); 
			}
			input { 	margin-top: 0 }
		}
	}
	//sale
	#admin_add_sale {
		textarea { margin-top: 10px!important };
		textarea,
		.check_wrap,
		input	 { float: left }
		.check_wrap {
			padding: 4px;
			border: 1px solid #ccc;
			border-radius:2px;
			label {
				// width: 155px;
				margin: 0;
				cursor: pointer;
				background-color: #fff;
			}
			span	{display: inline-block}
			input {display: none;}
			i {
				border: 1px solid #ccc;
				border-radius:2px;
				&:before{
					color: $success;
					opacity: 0;
				}
			}			
		}
		input {
			width: 100px;
			height: auto;
			margin-left: 5px!important;
			padding: 2px 5px!important;
    		margin-top: 1px!important;
		}	
	}
	.check_sale {
		&:before{opacity:1 !important}
	}
	//colors
	#admin_add_colors {
		.new_color_view {
			width: 100px;
			margin-left: 10px;
		}
		.btn.btn-info  { margin: 0 20px }
		label {
			display: block;
			margin: 3px;
		}
		input,
		button,
		div { float: left }
		input {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	#new_colors_wrap { display: inline-block }
	.current_new_color {
		position: relative;
		float: left;
		width: 34px;
		height: 34px;
		margin-right: 40px;
		border-radius: 2px;
		border: 1px solid $border;
		box-shadow: inset 1px 1px 1px #fff, inset -1px -1px 1px #fff; 
		button {
			position: absolute;
			top: 0px;
			right: -18px;
			margin: 0;
			padding: 0;
			border: none;
			background-color: transparent;
			&:hover { background-color: transparent }
		}
	}
	.valid_val {box-shadow: inset -3px 0 0 $success}
	.invalid_val {box-shadow: inset -3px 0 0 $danger}	
	
	//button add new product
	.admin_btn_product {
		display: block;
		margin: 40px auto;
		padding: 10px 15px;
		text-align: center;
		font-size: 1.3em;
	}

	//admin images add new product
	#select_images_wrap {
		padding: 30px 35px 15px;
		border: 1px solid $border;
		text-align: center;
		>button {
			margin-top: 30px;
			padding: 5px 15px;
			font-size: 1.3em;
		}
		h2 {
			font-weight: bold;
			text-transform: uppercase;
		}	
		.img_wrap {
			position: relative;
			height: 100px;
			border: 1px solid $border;
			background-color: #fff;
			text-align: center;
			h3 {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				color: rgba(0,0,0,.5);
				font-weight: bold;
			}
			img {
				width: auto;
				height: 99px;
			}
			.btn_add_imgSlide  {
				position: absolute;
				top: 105%;
				left: 0;
				width: 100%;
				padding: 2px;
				border: 1px solid $border;
				text-align: center;
				cursor: pointer;
				opacity: 0.6;
			}
			.btn_add_imgSlide:hover { opacity : 1 }
			>i {
				opacity: 0;
				position: absolute;
				-webkit-transform:translate(-50%,-50%);
				transform:translate(-50%,-50%);
				z-index:-1000;
				font-size: 3em;
				color: rgba(255,255,255,.75);
			}
			.fa-check {
				top: 50%;
				left: 50%;
			}
			.fa-refresh {
				top: 29%;
				left: 41%;	
			}
			.load_img_active {
				opacity: 1;
				z-index: 100;
			}
		}
		.image_item_wrap {
			padding: 5px;
			padding-bottom: 30px;
			text-align: center;
			border: 1px solid $border;
		}
		h4 {
			display: inline-block;
			padding: 3px 5px;
			border: 1px solid $border;
			border-bottom: none;
		}
	}
	#message_update_img {color: $danger}
//#=====================================
	//ADMIN PRODUCT end	

	//ADMIN PRODUCT EDIT begin	
//#=====================================
	.bottom_position { top: -25px!important }
	.new_img_edit_product {
		font-weight: bold!important;
		font-size: 1.1em;
		color: $success;
	}
	#admin_edit_product_comments {
		>button {
			margin: 0 auto;
			font-size: 1.2em;
		}
		table {
			thead {
				td {
					text-align: center;
					text-transform: uppercase;
					background-color: #ccc;
					font-weight: bold;
				}
			}
			tbody {
				tr {
					td{
						padding: 3px;
						&:nth-child(1),
						&:nth-child(2),
						&:nth-child(4) { 
							text-align: center;
						}
					}
				}
			}
		}
	}
//#=====================================
	//ADMIN PRODUCT EDIT end



	//ADMIN USERS begin	
//#=====================================
	#admin_users {
		.head_admin_users {
			b {
				text-transform: none;
				color: $success;
			}
		}
		thead { background-color: #ccc }
		.list_users {
			table {
				margin-top: 15px;
				width: 100%!important;
			}
			thead,
			tbody {
				td { text-align: center }
			}	
		}
		input { text-align: center }
		.pagination_wrap {
			margin: 25px auto;
			text-align: center;
		}
	}
	#find_user {
		margin-top: 20px;
	}
	#current_user {
		table {
			width: 100%;
			margin: 10px 0;
		}
		span { 
			display: block;
			text-align: center 
		}
		td {
			position: relative;
			text-align: center;
			button {
				position: absolute;
				top: 5px;
				right: 5px;
			}
		}
		label {
			display: block;
			margin: 15px auto;
			text-align: center;
		}
		.img_wrap {
			position: relative;
			height: 200px;
			overflow: hidden;
			border: 1px solid $border;
			text-align: center;
			img {
				width: auto;
				height: 100%;
			}
			button {
				position: absolute;
				bottom: 3px;
				right: 3px;
				margin: 0;
				padding: 0;
				border: none;
				background-color: transparent;
				i {
					font-size: 2em;
					color: rgba(0,0,0,.5)
				}
				&:hover {
					box-shadow: none;
					i {
						font-size: 2em;
						color: rgba(0,0,0,.9)
					}	
				}
			}
		}	
		.user_comments {
			position: relative;
			button {
				position: absolute;
				top: 2px;
				right: 2px;
			}
		}
	}
//#=====================================
	//ADMIN USERS end	


	//ADMIN ANALITIKA begin
//#=====================================
	#admin_analitika {
		position: relative;
		>ul li {
			padding: 15px 50px;
			span { font-size: 1.3em }
		}
		h2 {
			margin: 30px 0;
			font-size: 1.3em;
			text-align: center;
			font-weight: bold;
			span {
				font-weight: normal;
				font-size: 0.9em
			}
		}
		.analitika_view {
			padding: 10px;
			border: 1px solid $border;
		}	
	}
	.admin_analitika_menu { margin-top: 0!important }
	//grafiks
	.grafik_wrap {
		position: relative;
		margin-left: 50px;
		.table_wrap {
			position: relative;
			padding-top: 30px;
		}
		.grafic_vertical_descrip {
			position: absolute;
			left: -140px;;
			top: 30%;
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}
		table {
			width: 100%;
			td { text-align: center }
		}
		.grafik {
			width: 100%;
			border-left: 2px solid $borderd;
			td {				
				height: 320px;
				padding-top: 20px;
				border-bottom: 2px solid $borderd;
				&:first-child {
					position: relative;
					&:after {
						position: absolute;
						top: -23px;
						left: -5px;
						display: block;
						content:"";
						border: 5px solid transparent;	
						border-bottom: 20px solid $borderd;
						z-index:1000;
					}
				}
				&:last-child {
					position: relative;
					&:before {
						position: absolute;
						bottom: -6px;
						right: -14px;
						display: block;
						content:"";					
						border: 5px solid transparent;	
						border-left: 20px solid $borderd;
						z-index:1000;
					}
				}
			}
		}	
	}
	// ===========grafic ARHIV month=====================
	//horizontal names  month
	.name_month_wrap {
		h3 {
			float: left;
			margin: 10px 0;
			border-radius: 0;
			cursor: pointer;
			text-align: center;
			font-weight: bold;
			font-size: 1.2em;
			-webkit-transition: 0.3s;
			transition: 0.3s;
			opacity: 0.6;
			&:hover {
				opacity:1;
				-webkit-transform: scale(1.1, 1.1);
				transform: scale(1.1, 1.1);
			}
		}
	}
	//items blocks
	.grafik_item_wrap {
		position: relative;
		.admin_analitika_visits,
		.admin_analitika_uniq_visits {
			position: absolute;
			bottom: 0;
			padding: 5px;
			border: 1px solid $border;
			@media (max-width:768px) { padding: 0 }
		}
		.admin_analitika_visits {
			right: 50%;
			background-color: $successl;
			color: $textd;
		}
		.admin_analitika_uniq_visits {
			left: 50%;
			background-color: $successd;
			color: #fff;
		}	
	}

	// ===========grafic CURRENT month=====================
	//current month // grafic diagramma
	.view_current_month {
		>h2 { margin: 30px 0 40px }
		table {
			td {
				div {
					padding: 0;
					border-radius: 20%;
					font-size: 0.5em;
					-webkit-transition: 0.3s;
					transition: 0.3s;
					z-index:1001;
					&:hover {						
						-webkit-transform: scale(2.5, 2.5);
						transform: scale(2.5, 2.5);
					}
				}
			}
		}
		.grafic_gorizontal_descrip .descr_visits {background-color: #BBBBBB}
	}
	.grafik_item_wrap {
		.curr_month { background-color:#BBBBBB }
	}
	.current_month_descript {
		margin-bottom: 15px;
		text-align: center;
		span {
			font-size: 1.2em;
			b { font-weight: bold }
			&:first-child {
				b {text-transform: uppercase}
			}
		}
	}
	// current month date, gorizontal
	.date_grafic {
		padding-top: 10px;
		opacity: 0.6;
		font-size: 1.2em;
		-webkit-transition: 0.3s;
		transition: 0.3s;
	}
	.date_grafic_active {
		opacity: 1;
		-webkit-transform: scale(1.7, 1.7);
		transform: scale(1.7, 1.7);
	}
	// gorizontal line in current month 
	.gorizontal_line {
		position: absolute;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $border;
		opacity: 0.5;
		z-index:999;
		span {
			position: absolute;
			left: -30px;
			top: -10px;
			display: block;
			width: 30px;
			text-align: center;
		}
	}
	.line_top {bottom: 90%}
	.line_middle {bottom: 60%}
	.line_bottom {bottom: 30%}
	//gorizontal description colours
	.grafic_gorizontal_descrip {
		width: auto!important;
		margin: 20px auto;
		vertical-align: middle;
		tbody tr td {
			padding: 10px 0;
			text-align: left!important;
			&:nth-child(2) {
				padding-left: 5px;
				font-size: 1.2em;
			}

		}
		.descr_visits,
		.descr_visits_uniq {
			display: block;
			width: 25px;
			height: 25px;
			border: 1px solid $border;
			background-color: #000;
		}
		.descr_visits {background-color: $successl}
		.descr_visits_uniq {background-color: $successd}	
	}	

//#=====================================
	//ADMIN ANALITIKA end	


	//ACTIVE CLASSES begin	
//#=====================================
	
	.img_empty {border: 1px solid $danger!important}
	.selectDb_active {
		background-color: $borderd!important;
		h2 {color: #fff!important}
		>span {
			color: #fff;
			font-weight: bold;
		}
	}
	.view_hide {
		position: fixed!important;
		top: 50%!important;
		left: 50%!important;
		width: 0px!important;
		height: 0px!important;
		z-index:-100000!important;
		overflow: hidden!important;
	}
	.message_success { color: $danger }
	.message_err { color: #2C902C }
//#=====================================
	//ACTIVE CLASSES end	


.work_btn_login {
	position: fixed;
	top: 50px;
	left: 0;
	margin-top: 7px!important;
	font-size: 0.5em;
	background-color: #fff;
	z-index:5000;
	span { 
		font-size: 1em; 
		font-weight: bold
	}
}
.work_btn {
	position: fixed;
	top: 100px;
	left: 0;
	margin-top: 7px!important;
	font-size: 1em;
	z-index:15000;
	span { 
		font-size: 1em; 
		font-weight: bold
	}
	button {
		margin-bottom: 10px;
		&:hover { -webkit-transform:translateX(20px) scale(2,2); transform:translateX(20px) scale(2,2) }
	}
}

#proekt_description {
	padding: 15px;
	font-size: 1.1em;
	margin-left: 60px;
	ol {
		margin-left: 30px;
	}
	h2 {
		margin: 10px;
		font-size: 1.3em;
		font-weight: bold;
		text-align: center;
	}
	h3 {
		margin: 10px;
		font-size: 1.1em;
		font-weight: bold;
		text-align: center;
	}
	ol {
		list-style-type: decimal;
		list-style-position: inside;
		
	}
	p {
		padding: 10px;
		text-indent: 1em;
	}
	.screencasts {
		color: $successd;
		font-weight: bold;
	}
	.img_wrap  {
		text-align: center;
		img {
			text-align: center;
			border: 1px solid $border;
		}
	}
}

.descript_admin_login {
	color: $danger;
	font-weight: bold;
}

.help_video {
	// display: none;
	color: #fff;
	>h2 {
		font-size: 1.3em;
		text-transform: uppercase;
		padding: 10px;
	}
	a {
		line-height: 1.3em;
		vertical-align: middle;
		font-size: 1.3em;
		i {
			transition: 0.2s;
			line-height: 1.3em;
			vertical-align: middle;
			font-size: 1.2em;
			&:before {color: $danger}
		}

		&:hover {
			i {
				&:before {color: $dangerd}
			}
		}
	}
}