<div id="proekt_description" class="section_wrap">
	<p class="descript_admin_login">Логин администратора - 'admin'</p>
	<p class="descript_admin_login">Пароль администратора - 'admin'</p>
	<h2>Краткая информация по проекту.</h2>
	<p>Есть три основных интерфейса (контроллера):</p>
	<ol>
		<li>Аутентификация.</li>
		<li>Пользователь - страница с товарами. (4 дочерних контроллера)</li>
		<li>Администратор - страница с функционалом администратора. (3 дочерних контроллера)</li>
	</ol>
	<p>Все модели находятся в контроллерах, в контроллерах происходят только манипуляции с представлениями, вся логика перенесена в сервисы. Каждый контроллер имеет свой сервис. Методы повторно, за редким исключением, практически не используются.</p>
	<h3>Схема контролеров.</h3>
	<div class="img_wrap"><img src="./../../img/shemaCtrl.png" alt="schema ctrl"></div>			
	<p>Директивы: пагинация и рейтинг писал сам. Пока не работаю стараюсь по минимуму использовать готовые плагины</p>
	<p>Под маленькие разрешения не адаптивил но основу для этого заложил - практически все элементы резиновые.  За 1 - 2 дня могу адаптировать под мобильные разрешения.</p>
	<p>Бд - MongoDb (MongoLab - удобный интерфейс).</p>
	<p>Хостинг - Heroku.</p>
	<p>Большинство кода написано для возможного расширения (добавления новой категории товара), например ползунки с макс и мин значениями характеристик товаров, если в бд добавить новые свойства, то на клиенте не надо ничего переделывать.</p>
	<p>Знаю что аналитика посещения сайта с погрешностями и те ip-адреса, которые я извлекаю из приходящих запросов на сервер не точные, но мне было интересно сделать свою аналитику.</p>
	<p class="screencasts">Весь функционал пользователя и администратора в кратком видеообзоре под каждым UI.</p>
	<p class="screencasts">На каждой странице в левом нижнем углу есть ссылка на такие видеообзоры.</p>
	<p class="screencasts">Если у вас возникают вопросы или что-либо не понятно - смотрите видео обзоры под каждым UI</p>
</div>